
body {
    background: #f2f2f2;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 270px;
    height: 470px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6;
}
.post-module .thumbnail {
    background: #000000;
    height: 400px;
    overflow: hidden;
}
.post-module .thumbnail .discount {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 18px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.post-module .thumbnail .discount .deal {
    font-size: 18px;
}

.post-module .thumbnail img {
    display: block;
    width: 120%;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.post-module .post-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 30px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: rgb(0,0,0,0);
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
}
.post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 400;
}
.post-module .post-content .description {
    display: none;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
}
.post-module .post-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
}
.post-module .post-content .post-meta .showStock {
    margin: 0 16px 0 0;
    color: green;
}
.post-module .post-content .post-meta .likes {
    margin: 0 5px 0 5px;
    color: red;
    float: right;
}
.post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
}
.hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
}
.container {
    max-width: 400px;
    min-width: 300px;
    margin: 20px auto;
}
.container:before,
.container:after {
    content: '';
    display: block;
    clear: both;
}
.container .column {
    width: 95%;
    padding: 0 25px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
.container .column .demo-title {
    margin: 0 0 15px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.container .info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}
.container .info span {
    color: #666666;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #e74c3c;
}

html {
    background: #f5f5f5;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    margin: 30px auto 0 auto;
    width: 450px;
    font-size: 75%;
}

h3 {
    margin-top: 30px;
    font-size: 18px;
    color: #555;
}

p { padding-left: 10px; }


/*
 * Basic button style
 */
.btn {
    box-shadow: 1px 1px 0 rgba(255,255,255,0.5) inset;
    border-radius: 3px;
    border: 1px solid;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
    position: relative;

    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
/*
 * Counter button style
 */
.btn-counter { margin-right: 39px; }
.btn-counter:after,
.btn-counter:hover:after { text-shadow: none; }
.btn-counter:after {
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    background-color: #eee;
    padding: 0 8px;
    color: #777;
    content: attr(data-count);
    left: 100%;
    margin-left: 8px;
    margin-right: -13px;
    position: absolute;
    top: -1px;
}
.btn-counter:before {
    transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');

    background-color: #eee;
    border: 1px solid #d3d3d3;
    border-right: 0;
    border-top: 0;
    content: '';
    position: absolute;
    right: -13px;
    top: 5px;
    height: 6px;
    width: 6px;
    z-index: 1;
    zoom: 1;
}
/*
 * Custom styles
 */
.btn {
    background-color: #dbdbdb;
    border-color: #bbb;
    color: #666;
    float: right;
}
.btn:hover,
.btn.active {
    text-shadow: 0 1px 0 #b12f27;
    background-color: #f64136;
    border-color: #b12f27;
}
.btn:active { box-shadow: 0 0 5px 3px rgba(0,0,0,0.2) inset; }
.btn span { color: #f64136; }
.btn:hover, .btn:hover span,
.btn.active, .btn.active span { color: #eeeeee; }
.btn:active span {
    color: #b12f27;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}